# {{title}}

* [How to listen and subscribe]({{podcast_url}})
* [Discussion after the episode]({{discussion_url}})

{{&description}}

## Guests

{{#guests}}
* {{&guest}}
{{/guests}}

## Hosts

{{#hosts}}
* {{&host}}
{{/hosts}}

## Notes

{{&notes}}
