<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd" xmlns:atom="http://www.w3.org/2005/Atom" xmlns:content="http://purl.org/rss/1.0/modules/content/">
  <channel>
    <title>{{title}}</title>
    <description>{{description}}</description>
    <language>{{language}}</language>
    <link>{{url}}</link>
    <lastBuildDate>{{build_date}}</lastBuildDate>
    <atom:link rel="self" type="application/rss+xml" href="{{feed_url}}"/>
    <itunes:subtitle>{{subtitle}}</itunes:subtitle>
    <itunes:image href="{{artwork_url}}"/>
    <itunes:explicit>{{explicit}}</itunes:explicit>
    <itunes:category text="{{category}}">
      <itunes:category text="{{subcategory}}"/>
    </itunes:category>
    {{#owners}}
    <itunes:owner>
      <itunes:name>{{name}}</itunes:name>
      <itunes:email>{{email}}</itunes:email>
    </itunes:owner>
    {{/owners}}
    {{#authors}}
    <atom:author>
      <atom:name>{{name}}</atom:name>
    </atom:author>
    {{/authors}}
    {{#episodes}}
    <item>
      <title>{{title}}</title>
      <description>{{description}}</description>
      <pubDate>{{date}}</pubDate>
      <guid>{{id}}</guid>
      <link>{{url}}</link>
      <enclosure url="{{file_url}}" length="{{file_length}}" type="audio/mpeg"/>
      <atom:link rel="replies" type="text/html" href="{{discussion_url}}"/>
      <itunes:duration>{{duration}}</itunes:duration>
      <content:encoded>
        <![CDATA[
{{&summary}}
        ]]>
      </content:encoded>
    </item>
    {{/episodes}}
  </channel>
</rss>
