---
layout: episode
title: "{{title}}"
description: "{{description}}"
tags: []
mp3: "{{mp3File}}"
---

## Guests

{{#guests}}
* {{&guest}}
{{/guests}}

## Hosts

{{#hosts}}
* {{&host}}
{{/hosts}}

## Notes

{{&notes}}

## Discussion after the show
We use Github issue tracker for discussion. Do you wanna join our discussion? [Click here]({{discussion_url}})