{{&description}}

{{&notes}}
{{#guests_available}}

**Guests**

{{#guests}}
* {{&guest}}
{{/guests}}
{{/guests_available}}
{{#hosts_available}}

**Hosts**

{{#hosts}}
* {{&host}}
{{/hosts}}
{{/hosts_available}}

**Discussion**

[Give us your opinion on the episode]({{discussion_url}})!
