<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd" xmlns:content="http://purl.org/rss/1.0/modules/content/">
  <channel>
    <title>{{title}}</title>
    <description>{{description}}</description>
    <language>{{language}}</language>
    <link>{{url}}</link>
    <lastBuildDate>{{build_date}}</lastBuildDate>
    {{#migration_feed_url}}
    <itunes:new-feed-url>{{migration_feed_url}}</itunes:new-feed-url>
    {{/migration_feed_url}}
    <itunes:image href="{{artwork_url}}"/>
    <itunes:explicit>{{explicit}}</itunes:explicit>
    <itunes:category text="{{category}}">
      <itunes:category text="{{subcategory}}"/>
    </itunes:category>
    <itunes:owner>
      <itunes:name>{{owner_name}}</itunes:name>
      <itunes:email>{{owner_email}}</itunes:email>
    </itunes:owner>
    <itunes:author>{{authors}}</itunes:author>
    {{#episodes}}
    <item>
      {{^part_available}}
      <title>Episode {{number}}: {{title}}</title>
      {{/part_available}}
      {{#part_available}}
      <title>Episode {{number}}, Part {{part}}: {{title}}</title>
      {{/part_available}}
      <description>{{description}}</description>
      <pubDate>{{date}}</pubDate>
      <guid>{{id}}</guid>
      <enclosure url="{{file_url}}" length="{{file_length}}" type="audio/mpeg"/>
      <itunes:duration>{{duration}}</itunes:duration>
      <content:encoded>
        <![CDATA[
{{&summary}}
        ]]>
      </content:encoded>
    </item>
    {{/episodes}}
  </channel>
</rss>
